<form [formGroup]="stockPickerForm">
  <mat-form-field>
    <input
      matInput
      placeholder="Symbol e.g AAPL"
      formControlName="symbol"
      value=""
    />
    <mat-error
      ><span
        *ngIf="
          !stockPickerForm.get('symbol').valid &&
          stockPickerForm.get('symbol').touched
        "
        >Please enter a symbol</span
      >
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Favorite time period</mat-label>
    <mat-select formControlName="period">
      <mat-option
        *ngFor="let timePeriod of timePeriods"
        [value]="timePeriod.value"
      >
        {{ timePeriod.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
 
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="startDate">
    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
    <mat-datepicker #picker ngDefaultControl></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker2" [(ngModel)]="dateToPass" placeholder="Choose a date" value="{dateToPass}" formControlName="endDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 ngDefaultControl (click)="onChangeDate($event)" ></mat-datepicker>
  </mat-form-field>
 
  <button (click)="fetchQuote()" mat-raised-button>Go</button>
  {{stockPickerForm.value | json}}
</form>
<coding-challenge-chart [data$]="quotes$"></coding-challenge-chart>
